:root{
    --document-color:linear-gradient(30deg, rgb(183, 92, 33), rgb(34, 196, 106));
    --elements-transition:.55s cubic-bezier(0,.35,0,1),red .15s ease-out .1s;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto" !important;
    background: var(--document-color);
    font-size:1em !important;
}
canvas{
    vertical-align: top;
}

/*              HEADER          */
#header{
    position:fixed;
    top:-100vh;
    background: #1b1e2e;
    color:white;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    font-size:3rem!important;
    transition: var( --elements-transition);
}
#nav{
    max-width:55%;
    max-height:70%;
    background: #2c2f46;
}
#nav-list{
    list-style-type: none !important;

}
.listItem{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width:80%;
    text-align: center;
    text-decoration: none;
    transition: var( --elements-transition);
}
.listItem a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.listItem:hover{
    background: black;
}
#navbar-toggle{
    position:fixed;
    top:5%;
    left:90%;
    cursor: pointer;
    z-index: 17;
    width:85px;
    height:75px;
    transition: var(--elements-transition);
    transform: rotate(0);
    background: white;
}
#navbar-toggle:hover{

}
#navbar-toggle-icon{
    width:100%;
    height:100%;
}
.toggle-button-animation{
    animation-name: toggle-nav-animation;
    animation-duration: var(--elements-transition);
    animation-iteration-count: infinite;
}
@keyframes toggle-nav-animation {
    0%{
            background: initial;
    }
   100%{
            background: #0c5460;
    }
}
/*              /HEADER          */




/*              MAIN            */
main{
    padding: 0;
    margin:0;
    height: 300vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 100vh 100vh 100vh;
    grid-gap:0;
    grid-template-areas:
    "about "
    "portfolio "
    "contact ";
}


/*  about   */
/*  begin   */
#about{
    grid-area: about;
    background-color: white;
}
#about-content{
    max-width:55% !important;
    max-height:70% !important;
    border-radius: 50px !important;
    background: rgba(0, 0, 0, 0) !important;
    x-index:12 !important;
    overflow: hidden;
}
#canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
/*  about   */
/*  end   */

#portfolio{
    grid-area: portfolio;
    background-color: darkblue;
}
#contact{
    grid-area: contact;
    background-color: deepskyblue;
}
/*              /MAIN           */