:root{
    /*--document-color:#253155;*/
    --document-color: rgba(43, 50, 79,1);
    --dark-blue: #17182e;
    --light-blue: #3b3e55;

    --document-container:var(--dark-blue);
    --elements-transition:.55s cubic-bezier(0,.35,0,1),red .15s ease-out .1s;
    --elements-transition-slow:1.55s cubic-bezier(0,.35,0,1),red 1.15s ease-out 1.1s;
    --about-color: #371cb6;
    --portfolio-color: orange;
    --contact-color:green;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Microsoft PhagsPa", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    background: var(--light-blue);
    font-size:1rem !important;
    color:white;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
}
h1{

}
canvas{
    vertical-align: top;
}

/*              HEADER          */
#header{
    position:fixed;
    top:-100vh;
    background: #1b1e2e;
    color:white;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    font-size:2rem!important;
    transition: var( --elements-transition);
}
#nav{
    max-width:55%;
    max-height:70%;
    background: #17182e;
    overflow:hidden;
    transition-duration: var(--elements-transition);
}
#nav-list{
    list-style-type: none !important;

}
.listItem{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width:80%;
    text-align: center;
    text-decoration: none;
    color:white !important;
    transition: var( --elements-transition-slow);
}
.listItem a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
    transition:  transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;;
}

#next-toggle{
    position:fixed;
    top:45%;
    right: 63px;
    left: auto;
    cursor: pointer;
    z-index: 17;
    height: 59px;
    width:59px;
    transition: var(--elements-transition);
    transform: rotate(0);
}
#next-toggle  ::before, #next-toggle ::after{
    content: '';
    position: absolute;
    height: 2px;
    left:25%;
    width:60%;
    background-color:white;
    transition: transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;

}
#next-toggle  ::before{
    top:31%;
    transform: rotate(-145deg);
}
#next-toggle  ::after{
    top:69%;
    transform: rotate(145deg);
}
#navbar-toggle{
    position:fixed;
    top:52px;
    right: 63px;
    cursor: pointer;
    z-index: 41;
    height: 60px;
    width:60px;
    transition: var(--elements-transition);
    transform: rotate(0);
    background: var(--blue);
    border-radius:50%;
}
.inner-element{
    height: 2px;
    width:25px;
    background-color:white
}
#navbar-icon  :nth-child(n){
    position: absolute;
    width:45%;
    transition: transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
}
#navbar-icon  :nth-child(1){
    position: absolute;
    top:30%;
}
#navbar-icon  :nth-child(2){
    position: absolute;
    top:50%;
}
#navbar-icon  :nth-child(3){
    width:1px;
    position: absolute;
    top:50%;
}
#navbar-icon  :nth-child(4){
    position: absolute;
    top:70%;
}
#navbar-toggle:hover{

}
#navbar-toggle-icon{
    width:100%;
    height:100%;
}

/*              /HEADER          */




              /*MAIN            */
main {

}
.scene {
    width: 100vw;
    height: 100vh;
    perspective: 600px;
}

.box {
    width: 100vw;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform var(--elements-transition-slow);
}


.box__face {
    position: absolute;
    /*border: 2px solid black;*/
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__face--front,
.box__face--back {
    width: 100vw;
    height: 100vh;
}

.box__face--right,
.box__face--left {
    width: 100vw;
    height: 100vh;
}

.box__face--top,
.box__face--bottom {
    width: 100vw;
    height: 100vw;
    visibility: hidden;
}

.box__face--front  { background: var(--document-color); }
.box__face--right  { background: var(--document-color); }
.box__face--back   { background: var(--document-color); }
.box__face--left   { background: var(--document-color); }
.box__face--top    { background: var(--document-color); }
.box__face--bottom { background: var(--document-color); }

.box__face--front  { transform: rotateY(  0deg) translateZ( 0px) ; }
.box__face--back   { transform: rotateY(180deg) translateZ( 100vw); }

.box__face--right  { transform: rotateY( 90deg) translateZ(50vw) translateX(50vw); }
.box__face--left   { transform: rotateY(-90deg) translateZ(50vw)translateX(-50vw); }

.box__face--top    { transform: rotateX( 90deg) translateZ(105vh) translateY(-105vh); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(-5vh)translateY(105vh); }

.box.show-front  { transform: translateZ( 0px) rotateY(   0deg); }
.box.show-back   { transform: translateZ( -100vw) rotateY(-180deg); }
.box.show-right  { transform: translateZ(-50vw) translateX(-50vw) rotateY( -90deg); }
.box.show-left   { transform: translateZ(-50vw) translateX(50vw) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-50vh)translateY(50vh) rotateX( -90deg); }
.box.show-bottom { transform:translateZ(-50vh) translateY(-50vh) rotateX(  90deg); }

/*  about   */
/*  begin   */
#about-content {
    /*background: var(--document-container);*/
    padding: 10%;
}
.row{
    margin:0 !important;
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #about-content{
        height: 100% !important;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    #about-content{
        height: 100vh !important;
    }
    #navbar-toggle{
        top: auto;
        bottom: 90px;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}
/*!*  about   *!*/
/*!*  end   *!*/

/*#portfolio{*/


    /*background-color: var(--document-color)*/
/*}*/
/*#contact{*/

    /*background-color:var(--document-color);*/
/*}*/




/*              /MAIN           */